#background {
    -fx-background-size: 100%;
    -fx-background-image: url("hostinec.jpg");
}

#textAreas {
    -fx-opacity: 0.65;
    -fx-border-color: black;
    -fx-font-size: 15px;
}

.infoBoxes {
    -fx-padding: 18 0 0 0;
}

.innerBoxes {
    -fx-opacity: 0.65;
    -fx-background-color: white;
    -fx-alignment: center;
}

#headBox {
    -fx-padding: 10;
    -fx-opacity: 0.65;
    -fx-background-color: white;
    -fx-alignment: center;
}

.infoLabels {
    -fx-font-weight: bold;
    -fx-font-size: 15px;

}

#areaName {
    -fx-font-size: 30px;
    -fx-font-weight: normal;
}

#areaDescription {
    -fx-font-size: 20px;
    -fx-font-weight: normal;
}